.selectedInput {
  position: relative;
    font-size: 12px;
    background: white;
    border-radius: 5px;
    border: 1px solid #e2e2e2;
    width: 100%;
    padding: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}
.selectedInput:focus-within {
  border: 1px solid grey;
  border-radius: 5px;
}
.inputContainer {
  display: flex;
  overflow: hidden;
  border-radius: 6px;
  padding: 4px 8px;
}
/* .inputContainer span {
  cursor: pointer;
} */
.inputContainer svg {
  transition: all 0.1s ease;
}
.inputContainer.rotate svg {
  transform: rotate(180deg);
}

.inputContainer input {
  border: none;
  width: 100%;
  cursor: pointer;
}

.inputContainer input:focus {
  outline: none;
}
.selBoxContainer {
  position: absolute;
  width: 100%;
  list-style: none;
  background-color: white;
  border-radius: 5px;
  padding: 0px 4px;
  box-shadow: 1px 4px 10px rgb(0 0 0 / 25%);
  z-index: 111;
}
.selBoxContainer li {
  cursor: pointer;
  padding: 10px;
}
.selBoxContainer li:hover {
  background-color: rgb(128 128 128/10%);
  border-radius: 5px;
}

.top0{
  top: 0;
  left: 0;
}
.top27{
  top: 27px;
  left: 0;
}
.top40{
  top: 40px;
  left: 0;
}

.top43{
  top: 43px;
  left: 0;
}

.top38{
  top: 38px;
  left: 0;
}

.modalPosition li:not(:last-child) {
  border-bottom: 1px solid lightgray;
}
label {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #555555;
  padding-left: 12px;
}